In [1]:
import pandas as pd

df=pd.read_csv('./csv/제공데이터/train.csv')

df

,ID,제품,대분류,중분류,소분류,브랜드,2022-01-01,2022-01-02,2022-01-03,2022-01-04,...,2023-03-26,2023-03-27,2023-03-28,2023-03-29,2023-03-30,2023-03-31,2023-04-01,2023-04-02,2023-04-03,2023-04-04
0,0,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,1,3,2,0,0,2,0
2,2,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15885,15885,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15886,15886,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,3,0,2,4,1,1,3
15887,15887,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15888,15888,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
15889,15889,B002-03799-00010,B002-C001-0002,B002-C002-0004,B002-C003-0020,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15890 entries, 0 to 15889
Columns: 465 entries, ID to 2023-04-04
dtypes: int64(460), object(5)
memory usage: 56.4+ MB

In [4]:
# # 계절 매핑 함수
# def get_season(month):
#     if month in [3, 4, 5]:
#         return 'spring'
#     elif month in [6, 7, 8]:
#         return 'summer'
#     elif month in [9, 10, 11]:
#         return 'autumn'
#     else:
#         return 'winter'
    
# # fc_month를 계절로 변환하여 season 컬럼 추가
# df['season'] = df['fc_month'].apply(get_season)

In [5]:
df['소분류'].unique()

array(['B002-C003-0038', 'B002-C003-0044', 'B002-C003-0003',
       'B002-C003-0032', 'B002-C003-0034', 'B002-C003-0039',
       'B002-C003-0019', 'B002-C003-0025', 'B002-C003-0001',
       'B002-C003-0004', 'B002-C003-0036', 'B002-C003-0005',
       'B002-C003-0012', 'B002-C003-0011', 'B002-C003-0016',
       'B002-C003-0009', 'B002-C003-0010', 'B002-C003-0052',
       'B002-C003-0053', 'B002-C003-0006', 'B002-C003-0007',
       'B002-C003-0029', 'B002-C003-0045', 'B002-C003-0015',
       'B002-C003-0002', 'B002-C003-0022', 'B002-C003-0008',
       'B002-C003-0018', 'B002-C003-0035', 'B002-C003-0037',
       'B002-C003-0046', 'B002-C003-0040', 'B002-C003-0047',
       'B002-C003-0014', 'B002-C003-0023', 'B002-C003-0021',
       'B002-C003-0020', 'B002-C003-0013', 'B002-C003-0017',
       'B002-C003-0024', 'B002-C003-0026', 'B002-C003-0048',
       'B002-C003-0049', 'B002-C003-0028', 'B002-C003-0027',
       'B002-C003-0041', 'B002-C003-0030', 'B002-C003-0042',
       'B002-C003-0033', 'B002-C003-0043', 'B002-C003-0050',
       'B002-C003-0031', 'B002-C003-0051'], dtype=object)

In [6]:
df

,ID,제품,대분류,중분류,소분류,브랜드,2022-01-01,2022-01-02,2022-01-03,2022-01-04,...,2023-03-26,2023-03-27,2023-03-28,2023-03-29,2023-03-30,2023-03-31,2023-04-01,2023-04-02,2023-04-03,2023-04-04
0,0,B002-00001-00001,B002-C001-0002,B002-C002-0007,B002-C003-0038,B002-00001,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,B002-00002-00001,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,1,3,2,0,0,2,0
2,2,B002-00002-00002,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,B002-00002-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-00002,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,B002-00003-00001,B002-C001-0001,B002-C002-0001,B002-C003-0003,B002-00003,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15885,15885,B002-03799-00002,B002-C001-0003,B002-C002-0008,B002-C003-0042,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15886,15886,B002-03799-00003,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,3,0,2,4,1,1,3
15887,15887,B002-03799-00004,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15888,15888,B002-03799-00005,B002-C001-0003,B002-C002-0008,B002-C003-0044,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
15889,15889,B002-03799-00010,B002-C001-0002,B002-C002-0004,B002-C003-0020,B002-03799,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# df_melted = df.melt(id_vars=["ID", "제품", "대분류", "중분류", "소분류", "브랜드"], var_name="date", value_name="sales")

# df_date_row = df_melted.groupby(["대분류", "중분류", "소분류", "브랜드","date"]).sum().reset_index()

# df_date_row

In [8]:
# df_date_row_nobrand = df_melted.groupby(["대분류", "중분류", "소분류","date"]).sum().reset_index()
# df_date_row_nobrand

NameError: name 'df_melted' is not defined

In [ ]:
# df_date_row_nobrand['ID'].unique()

In [10]:
df_sales=pd.read_csv('./csv/제공데이터/sales.csv')
df_sales_row_nobrand = df_melted.groupby(["대분류", "중분류", "소분류","date"]).sum().reset_index()
df_sales_row_nobrand['ID'].unique()

NameError: name 'df_melted' is not defined

In [ ]:
df_date_row_nobrand['date'] = pd.to_datetime(df_date_row_nobrand['date'])
df_date_row_nobrand

In [ ]:
df_date_row_nobrand['week']=df_date_row_nobrand['date'].dt.dayofweek
df_date_row_nobrand

In [ ]:
df_date_row_nobrand['ID'].unique()

In [9]:
#ID 별로 sales 평균
average_sales_per_id = df_date_row_nobrand.groupby('ID')['sales'].mean()

#sales 높은 순으로 정렬
sorted_ids = average_sales_per_id.sort_values(ascending=False).index

for id in sorted_ids:
    print(f"ID: {id}, Average Sales: {average_sales_per_id[id]}")

NameError: name 'df_date_row_nobrand' is not defined

In [ ]:
sort_id=pd.DataFrame(sorted_ids, columns=['ID'])
sort_id

In [ ]:
#대,중,소분류 중복되는 행 삭제

df2=df_date_row_nobrand.drop_duplicates(subset=['대분류','중분류','소분류'])
df2

In [ ]:
df_product_classify_id=pd.merge(sort_id, df2, on='ID', how='outer')
df_product_classify_id

In [ ]:
df_product_classify_id.to_csv('./csv/id별 대중소.csv')

In [ ]:
plt.figure(figsize=(14, 7))
sns.lineplot(data=df_date_row_nobrand, x='week', y='sales', hue='ID', palette='tab20', hue_order=sorted_ids, legend=None)

# for id, group_data in df_date_row_nobrand.groupby('ID'):
#     plt.text(6.2, group_data['sales'].iloc[-1], str(id), fontsize=8, color='black')


plt.xlabel('Week')
plt.ylabel('Sales')
plt.grid(True)
plt.xlim(0, 6) 
plt.show()

In [ ]:
df_date_row_nobrand['month']=df_date_row_nobrand['date'].dt.month
df_date_row_nobrand

In [ ]:
df_date_row_nobrand['month'].unique()

In [ ]:
plt.figure(figsize=(14,7))
sns.lineplot(data=df_date_row_nobrand, x='month', y='sales', hue='ID', palette='tab20', hue_order=sorted_ids, legend=None)

# for id, group_data in df_date_row_nobrand.groupby('ID'):
#     plt.text(6.2, group_data['sales'].iloc[-1], str(id), fontsize=8, color='black')


plt.xlabel('Month')
plt.ylabel('Sales')
plt.grid(True)
plt.xlim(1,12) 
plt.show()

In [ ]:
df_date_row_nobrand[(df_date_row_nobrand['대분류']=='B002-C001-0001')&(df_date_row_nobrand['중분류']=='B002-C002-0009')&(df_date_row_nobrand['소분류']=='B002-C003-0045')]